body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(26, 44, 26);
  background-image: url("plant\ accent.png");
  background-repeat: no-repeat;
  color: white;
  background-position: bottom right;
  background-size: 192px 188px;
}

.body-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 52px;
  margin-left: 16px;
  margin-right: 16px;
}
.plant-container {
  width: 344px;
  order: 1;
}

.plant-img {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
}

p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.sofa-container {
  /* height: 148px; */
  width: 344px;
  order: 2;
  margin-top: 16px;
}
.sofa-img {
  height: 100%;
  width: 100%;
}
.details {
  order: 3;
  /* margin-top: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 164px;
  height: 48px;
  padding: 16px 32px;
  margin-top: 32px;
  margin-bottom: 60px;
  margin-left: 104px;
  margin-right: 104px;
  border: 2px solid white;
  background-color: rgb(26, 44, 26);
  color: white;
  font-size: 12px;
  font-weight: 700;
  align-items: center;
}

button:hover {
  border: 2px solid rgb(170, 89, 170);
}

@media (min-width: 768px) {
  body {
    background-position: center right;
  }
  .body-wrapper {
    margin-top: 96px;
    margin-right: 104px;
    margin-left: 104px;
  }

  .plant-container {
    margin-top: 40px;
    width: 532px;
  }
  .plant-img {
    width: 100%;
  }
  .sofa-container {
    width: 532px;
  }
  .sofa-img {
    width: 100%;
  }

  .details {
    order: 2;
    display: block;
    margin-top: 0px;
    margin-left: 0px;
  }
  h1 {
    font-size: 44px;
    font-weight: 400;
    text-align: start;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    text-align: start;
  }
  button {
    width: 184px;
    height: 56px;
    margin-top: 32px;
    padding: 20px 40px;
    border: 2px solid white;
    background-color: rgb(26, 44, 26);
    color: white;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  body {
    background-size: 532px 462px;
  }
  .body-wrapper {
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    flex-wrap: wrap;
  }
  .plant-container {
    width: 49%;
    height: 352px;
    /* order: 1; */
  }
  plant-img {
    height: 100%;
    width: 50%;
  }

  .sofa-container {
    height: 408px;
    width: 1040px;
  }

  .sofa-img {
    height: 100%;
    width: 100%;
  }

  h1 {
    padding-top: 40px;
    font-size: 44px;
    font-weight: 400;
    text-align: start;
  }
  .details {
    flex-basis: 30%;
    order: 2;
    text-align: center;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    text-align: start;
  }
  button {
    align-items: center;
    text-align: center;
  }
}

/*   
@media (max-width: 1440) {
  .body-wrapper {
    margin-left: 500px;
  }
  

  .
} */

/* button {
  height: 56px;
  width: 185px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  
  border: 2px solid white;
  background-color: rgb(26, 44, 26);
  color: white;
} */
